In [278]:
import pandas as pd
import numpy as np
import random

# Exploring the Data

In [602]:
sku_meta_data = pd.read_csv('Sku_MetaData.csv')

In [603]:
meta_data_values = sku_meta_data["METADATA_VALUE"].unique()

In [604]:
sku_meta_data.head()

    SKU_ID METADATA_NAME METADATA_VALUE
0  1012086       benefit  Lash Enhancer
1  1012086       benefit     Waterproof
2  1012086   ingredients   Sulfate-Free
3  1012086          form          Cream
4  1012086        finish          Matte

In [606]:
sku_meta_data['METADATA_NAME'].unique()user_history.txt

array(['benefit', 'ingredients', 'form', 'finish', 'color', 'color_eyes',
       'finish_eyes', 'form_eyes', 'form_face', 'skinType', 'finish_face',
       'coverage_face', 'skin type', 'concerns_skin', 'coverage',
       'color_lips', 'finish_lips', 'form_lips', 'type', 'purpose',
       'purpose_brushesAndTools', 'type_brushesAndTools', 'scent',
       'concerns_hair', 'concerns', 'spf', 'hair type', 'form_hair',
       'ingredients_skin', 'color_nails', 'purpose_nails', 'treatment',
       'color_accessories', 'ingredients_hair', 'type_hair', 'color_hair',
       'type_dryers', 'wattage', 'shaving', 'type_hairColor',
       'travel size', 'type_curlingIrons', 'barrelSize', 'travelSize',
       'plateSize', 'type_flatIrons', 'type_bagsAndCases', 'hair_removal',
       'type_PCA', 'barrel type', 'size', 'form_stylingProducts',
       'color_brushesAndTools', 'color_bagsAndCases'], dtype=object)

In [508]:
sku_unique_df = []
for sku_id in sku_meta_data['SKU_ID'].unique():
    values = sku_meta_data[sku_meta_data['SKU_ID'] == sku_id]['METADATA_VALUE'].values
    vector = np.zeros(len(meta_data_values))
    for index, meta in enumerate(meta_data_values):
        if meta in values:
            vector[index] = 1
        else:
            vector[index] = 0
    sku_unique_df.append(vector)

In [511]:
sku_meta_data = pd.DataFrame(sku_unique_df, columns=meta_data_values, index=sku_meta_data['SKU_ID'].unique())

In [514]:
sku_meta_data.index.name = 'SKU_ID'

In [529]:
sku_meta_data.head()

,Lash Enhancer,Waterproof,Sulfate-Free,Cream,Matte,Brown,Black,Pencil,Cruelty-Free,Grey,...,Post - Shave,1750-1800,Dual Voltage,mist,Foam,Shave,Other,Makeup Bags,Wet/dry,Lash
SKU_ID,,,,,,,,,,,,,,,,,,,,,
1012086,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1012219,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1012220,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1012469,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1031089,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
store_details = pd.read_csv('Store_Details.csv', encoding='iso-8859-1')

In [7]:
store_details.head()

,STORE_ID,DISPLAY_NAME,ADDRESS_1,ADDRESS_2,CITY,STATE,ZIPCODE,PHONE_NUMBER
0,31241,Lakeview Plaza,15754 South LaGrange Road,Lakeview Plaza,Orland Park,IL,60462,1-708-349-8898
1,31242,Danada Square West,112 Danada Square West,Danada Square West,Wheaton,IL,60187,1-630-221-0215
2,31246,The Quarry Shopping Center,9270 Joliet Road,The Quarry Shopping Center,Hodgkins,IL,60525,1-708-485-9120
3,31255,Woodfield Village Green,1480 Golf Road,Woodfield Village Green,Schaumburg,IL,60173,1-847-240-2723
4,31257,North & Sheffield Commons,"1000 West North Avenue, Suite D103",North & Sheffield Commons,Chicago,IL,60622,1-312-664-0230

In [89]:
store_hours = pd.read_csv('Store_Hours.csv')

In [90]:
store_hours.head()

   STORE_ID                                  STORE_HOURS
0   31241.0    Monday 10:00 AM - 9:00 PM in Central Time
1   31241.0    Friday 10:00 AM - 9:00 PM in Central Time
2   31241.0  Saturday 10:00 AM - 9:00 PM in Central Time
3   31241.0    Sunday 11:00 AM - 6:00 PM in Central Time
4   31241.0  Thursday 10:00 AM - 9:00 PM in Central Time

In [516]:
product_catalog = pd.read_csv('Product_Catalog.psv', delimiter='|')

In [517]:
product_catalog.shape

(31209, 10)

In [521]:
product_catalog.head()

,SKU_ID,PRODUCT_ID,DISPLAY_NAME,BRAND_NAME,LIST_PRICE,CATEGORY_NAME,LONG_DESCRIPTION,Lash Enhancer,Waterproof,Sulfate-Free,...,Post - Shave,1750-1800,Dual Voltage,mist,Foam,Shave,Other,Makeup Bags,Wet/dry,Lash
0,1031089,xlsImpprod3900553,Glamour Lash - Black 117,Ardell,4.99,Eyelashes,Ardell&rsquo;s Glamour lashes are perfect for...,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1131096,11077,Perfect Point Plus Eyeliner,CoverGirl,6.99,Eyeliner,The pencil gives you control and versatility. ...,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1131097,11077,Perfect Point Plus Eyeliner,CoverGirl,6.99,Eyeliner,CoverGirl's Perfect Point Plus Eyeliner gives ...,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1131098,11077,Perfect Point Plus Eyeliner,CoverGirl,6.99,Eyeliner,The pencil gives you control and versatility. ...,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1131108,620,Perfect Blend Eyeliner,CoverGirl,5.49,Eyeliner,"Easy to blend, this color pencil sharpens to a...",0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Preprocessing Data

In [519]:
#Drop Duplicated and Drop useless columns
product_catalog = product_catalog.drop(['IS_DEFAULT_SKU','ONLINE_ONLY', 'DESCRIPTION'], axis=1)

In [520]:
product_catalog = product_catalog.drop_duplicates(subset = ["SKU_ID"])
product_catalog = pd.merge(left=product_catalog, right=sku_meta_data, left_on='SKU_ID', right_on='SKU_ID')

In [522]:
unique_brands = product_catalog['BRAND_NAME'].unique()
category_name = product_catalog['CATEGORY_NAME'].unique()

In [523]:
columns = np.concatenate([unique_brands, category_name])

In [524]:
# product_catalog.loc[product_catalog['SKU_ID'] == 1031082]['BRAND_NAME'].values[0]

In [211]:
np.where(unique_brands == 'Ardell')

(array([0]),)

In [525]:
#Turning the dataset into a item matrix
brand_vectors = []
for curid in product_catalog['SKU_ID'].unique():

    zeros = np.zeros(len(columns))
    brand = product_catalog.loc[product_catalog['SKU_ID'] == curid]['BRAND_NAME'].values[0]
    category = product_catalog.loc[product_catalog['SKU_ID'] == curid]['CATEGORY_NAME'].values[0]
    
    brand_index = np.where(unique_brands == brand)[0][0]
    category_index = np.where(category_name == category)[0][0]
    
    zeros[brand_index] = 1
    zeros[category_index + len(unique_brands) - 1] = 1
    brand_vectors.append(zeros)

In [526]:
brand_matrix = pd.DataFrame(data=brand_vectors, index=product_catalog['SKU_ID'].unique(), columns=columns)

In [534]:
brand_matrix.index.name = 'SKU_ID'

In [535]:
brand_matrix = pd.merge(left=brand_matrix, right=sku_meta_data, left_on='SKU_ID', right_on='SKU_ID')

In [763]:
brand_matrix = brand_matrix.drop("L'Or�al", axis=1)

In [764]:
brand_matrix.head()

,SKU_ID,Ardell,CoverGirl,Dermablend,Maybelline,Revlon,Tweezerman,ULTA,Calvin Klein,Elizabeth Arden,...,Post - Shave,1750-1800,Dual Voltage,mist,Foam,Shave,Other,Makeup Bags,Wet/dry,Lash
0,1031089,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1131096,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1131097,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1131098,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1131108,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [537]:
brand_matrix.to_csv('item.csv')

# Mocking Data using Statistical Methods

In [440]:
#loading the user matrix
user_pd = pd.read_csv('user_data.csv')

In [441]:
user_pd.head()

,id,first_name,last_name,email,address,city,state,phone_number,subscribed,rewards
0,1,Beniamino,Bunyan,bbunyan0@hugedomains.com,71 Bobwhite Pass,Houston,Texas,832-322-5536,True,True
1,2,Mikel,Fontin,mfontin1@stanford.edu,735 Meadow Valley Pass,Corpus Christi,Texas,361-314-7648,False,False
2,3,Paige,Canon,pcanon2@scientificamerican.com,8 Huxley Pass,Austin,Texas,512-387-9728,False,True
3,4,Georgianne,Hewins,ghewins3@paypal.com,1 Mitchell Avenue,Little Rock,Arkansas,501-719-9150,False,True
4,5,Pedro,Prattington,pprattington4@squidoo.com,9 Bay Court,Washington,District of Columbia,202-110-7127,False,False

In [442]:
unique_sku = product_catalog['SKU_ID'].unique()
user_id = user_pd['id'].unique()

In [443]:
#creating the utility matrix using mock data
samples = np.random.normal(1, 0.1, len(unique_sku))
user_recommendations = []
for user in user_id:
    data = np.zeros(len(unique_sku))
    for index, sku in enumerate(unique_sku): 
        turn = np.random.uniform(0,2)
        multiplier = random.randint(0, 10)
        if turn <= samples[index]:
            data[index] = 1 * multiplier
    user_recommendations.append(data)

In [444]:
user_rec = pd.DataFrame(user_recommendations, index= user_id, columns=unique_sku)

In [445]:
user_rec.head()

,1031089,1131096,1131097,1131098,1131108,1131111,1131116,1131117,1131244,1131245,...,6051692,6052129,6052436,6501265,6501364,6501503,6501778,2542001,2553101,2554866
1,0.0,5.0,0.0,0.0,0.0,9.0,0.0,0.0,4.0,5.0,...,8.0,0.0,0.0,2.0,0.0,0.0,6.0,1.0,1.0,0.0
2,0.0,9.0,0.0,10.0,0.0,8.0,0.0,4.0,0.0,0.0,...,8.0,0.0,2.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,0.0,0.0,0.0,0.0,6.0,1.0,0.0,0.0,7.0,8.0,...,9.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0,0.0,7.0
4,0.0,0.0,0.0,4.0,7.0,0.0,9.0,10.0,0.0,10.0,...,2.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0
5,0.0,0.0,1.0,5.0,4.0,0.0,10.0,4.0,0.0,4.0,...,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,1.0,6.0

In [446]:
user_rec.to_csv('utility_matrix.csv')

# Merging Tokenized Matrix and Feature Matrix

In [538]:
nlp_words = pd.read_csv('tokenized_desc.csv')

In [539]:
nlp_words = nlp_words.drop_duplicates(subset = ["SKU_ID"])

In [540]:
brand_matrix = pd.read_csv('item.csv')

In [541]:
brand_matrix.rename(columns={'Unnamed: 0':'SKU_ID'}, inplace=True)

In [542]:
item_matrix = pd.merge(left=brand_matrix, right=nlp_words, left_on='SKU_ID', right_on='SKU_ID')

In [543]:
item_matrix.shape

(21666, 10124)

In [544]:
sum_of_columns = item_matrix.sum(axis=0)

In [545]:
index_array = []
item_columns = item_matrix.columns
for index, score in enumerate(sum_of_columns):
    if score == 0:
        index_array.append(item_columns[index])

In [546]:
item_matrix = item_matrix.drop(index_array, axis=1)

In [547]:
columns_item = item_matrix.columns[1:].tolist()

In [548]:
item_matrix[columns_item] = item_matrix[columns_item].astype(int)

In [549]:
item_matrix.to_csv('item_matrix.csv')

In [550]:
item_matrix = pd.read_csv('item_matrix.csv')

In [551]:
item_matrix.shape

(21666, 8741)

In [552]:
sku_pd = pd.DataFrame(item_matrix['SKU_ID'])

In [553]:
sku_pd.to_csv('sku_id.csv')

In [554]:
curfile = open("column_names.txt", "w")
curfile.write(str(item_matrix.columns[1:].tolist()))
curfile.close()

In [555]:
no_sku_item_matrix = item_matrix[columns_item]

In [556]:
no_sku_item_matrix.head()

,Ardell,CoverGirl,Dermablend,L'Or�al,Maybelline,Revlon,Tweezerman,ULTA,Calvin Klein,Elizabeth Arden,...,zeolite,zero,zest,zesty,zigzag,zinc,zip,zodiac,zone,zyme
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# Saving to a csr_matrix to save space

In [557]:
from scipy.sparse import csr_matrix
sparse_matrix = csr_matrix(no_sku_item_matrix.values)

In [558]:
sparse_matrix.todense()

matrix([[1, 0, 0, ..., 0, 0, 0],
        [0, 1, 0, ..., 0, 0, 0],
        [0, 1, 0, ..., 0, 0, 0],
        ...,
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [559]:
import scipy.sparse
scipy.sparse.save_npz('item_sparse_matrix.npz', sparse_matrix)
#run me agin l8r

In [560]:
utility = pd.read_csv('utility_matrix.csv')

In [561]:
utility.head()

,Unnamed: 0,1031089,1131096,1131097,1131098,1131108,1131111,1131116,1131117,1131244,...,6051692,6052129,6052436,6501265,6501364,6501503,6501778,2542001,2553101,2554866
0,1,0.0,5.0,0.0,0.0,0.0,9.0,0.0,0.0,4.0,...,8.0,0.0,0.0,2.0,0.0,0.0,6.0,1.0,1.0,0.0
1,2,0.0,9.0,0.0,10.0,0.0,8.0,0.0,4.0,0.0,...,8.0,0.0,2.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,3,0.0,0.0,0.0,0.0,6.0,1.0,0.0,0.0,7.0,...,9.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0,0.0,7.0
3,4,0.0,0.0,0.0,4.0,7.0,0.0,9.0,10.0,0.0,...,2.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0
4,5,0.0,0.0,1.0,5.0,4.0,0.0,10.0,4.0,0.0,...,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,1.0,6.0

In [754]:
total_purchases = utility.sum(axis=0)
total_purchases = total_purchases[1:]
indices = list(map(int, total_purchases.index.tolist()))

In [755]:
total_purchases = [(indices[i], x) for i, x in enumerate(total_purchases)]
total_purchases = sorted(total_purchases, key= lambda x:x[-1], reverse = True)

In [760]:
#[x[0] for x in total_purchases]

In [ ]:
def get_most_popular():
    """Function that returns the most popular items"""
    total_purchases = utility.sum(axis=0)
    sorted_purchases = sorted(range(len(total_purchases)), key=lambda k: total_purchases[k], reverse=True)[1:]
    items = list(map(lambda x: get_product_by_id(x), utility.columns[sorted_purchases[:5]].tolist()))
    return items

# Creating a sku to image csv

In [596]:
base_url = 'https://images.ulta.com/is/image/Ulta/'
url_pd = []
for item in product_catalog['SKU_ID']:
    vector = []
    composed_url = base_url + str(item)
    vector.append(item)
    vector.append(composed_url)
    url_pd.append(vector)
url_pd = pd.DataFrame(url_pd, columns=['SKU_ID', 'img_url'])

In [598]:
url_pd.to_csv('sku_to_img.csv')

In [599]:
url_pd.shape

(21666, 2)

In [648]:
user_recs = open('user_recs.txt')
user_hist = open('user_history.txt')

In [649]:
lst_recs = eval(user_recs.read())
lst_recs = lst_recs[0]
hist = eval(user_hist.read())

In [650]:
user_recs.close()
user_hist.close()

In [651]:
category_array = []
for sku in hist:
    cat = product_catalog[product_catalog['SKU_ID'] == sku]['CATEGORY_NAME'].values[0]
    cat = cat.replace('&', 'and').lower()
    category_array.append(cat)

In [705]:
category_array

['oils and serums',
 'lip gloss',
 'concealer',
 'lips',
 'cleansing wipes',
 'eyeshadow',
 'face masks',
 'makeup brushes',
 'hand cream and foot cream',
 'concealer']

In [652]:
curfile = open("categories.txt", 'w') 
curfile.write(str(category_array))
curfile.close()

In [700]:
def find_top_n(lst, n):
    lst = [x[-1] for x in lst] # remove tups 
    choices = np.random.choice(lst, n)
    # remove dups 
    choices = set(choices) 
    choices = list(choices)
    return choices

In [701]:
def find_keyword(keyword):
    index = category_array.index(keyword)
    return lst_recs[index]

In [709]:
find_top_n(find_keyword('face masks'), 10)

[2549474,
 2546754,
 2540902,
 2549478,
 2533704,
 2209901,
 2549326,
 2502292,
 2290587,
 2529660]